extends: default.liquid
---
<div >
  <section class="parallax">
    <div class="parallax-inner">
      <h2>Eco City Living</h1>
    </div>
  </section>
  <div>
    {% for post in posts %}
      <div>
        <h4><a href="{{post.path}}">{{ post.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
