* {
  border-color: #839496;
}
a {
  color: #268bd2;
}
a:visited {
  color: #6c71c4;
}
body {
  background-color: #fdf6e3;
  color: #657b83;
}
html {
  background-color: #fdf6e3;
  height: 100%;
}
input,
textarea,
blockquote,
pre {
  background-color: #eee8d5;
  color: #657b83;
}
h1 {
  text-align: center;
  margin: 10% 10;
}
h2 {
  text-align: center;
  margin: 10%;
}
h3 {
  text-align: center;
  margin: 0%;
}
h4 {
  text-align: center;
  margin: 5%;
}
p {
  text-align: center;
  margin: 15%;
}
@media (max-resolution: 95dpi) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}
@media (min-resolution: 1dppx) {
  h1 {
    font-size: 5.5em;
  }
  h2 {
    font-size: 4em;
  }
  h3 {
    font-size: 3em;
  }
  h4 {
    font-size: 2em;
  }
  p {
    font-size: 1.8em;
  }
}
@media (min-resolution: 2dppx) {
  h1 {
    font-size: 7em;
  }
  h2 {
    font-size: 5.5em;
  }
  h3 {
    font-size: 3.5em;
  }
  h4 {
    font-size: 3em;
  }
  p {
    font-size: 2.5em;
  }
}
/* Parallax */
.parallax {
  background: url("imgs/Aloe.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.greyscale {
  filter: grayscale(1);
  -webkit-filter: grayscale;
}
.invert {
  filter: invert(1) 1;
}
.parallax-inner {
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fdf6e3;
}
